.todo-form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid #d3d3d3;

    h3 {
        font-weight: 400;
    }

    &__form-group {
        margin-bottom: 15px;

        &:first-child {
            display: flex;
        justify-content: space-between;
        align-items: center;
        }

        &:last-child {
            padding-bottom: 0;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }

    }

    &__form-control {
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px solid lightgray;
        font-size: 16px;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }

    &__submit {
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: none;
        font-size: 16px;
        font-weight: 400;
        background-color: green;
        color: white;
    }
}